@model SimpleConversionViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div data-role="collapsibleset">

    <h1>User Stories</h1>

    <!-- User story 1-->
    <div data-role="collapsible">
        <h3>User Story 1</h3>
        <div id="story1">
            <p>
                Use this area to submit any highly classified information to be rendered onto a green background.
            </p>

            <h4>Your information:</h4>
            <input type="text" id="classifiedText" name="classifiedText" required /><br />
            <button type="button" id="btn1" name="btn1" onClick="btn1_click()">Submit</button>

            <p id="displayTextAsGreen"></p>
        </div>
    </div>

    <!-- User story 5-->
    <div data-role="collapsible">
        <h3>User story 5</h3>
        <div id="story5">
            <p>
                Use this area to submit any text you wish and have it reversed.
            </p>

            <h4>Please input some text:</h4>
            <input type="text" id="reversedText" name="reversedText" required /><br />
            <button type="button" id="btn2" name="btn2" onClick="btn2_click()">Submit</button>

            <p id="displayTextAsReversed"></p>
        </div>
    </div>

    <!-- User story 3-->
    <div data-role="collapsible">
        <h3>User story 3</h3>
        <div id="story3">
            <p>
                Use this area to submit any text you wish and have it converted to bold font.
            </p>

            <h4>Please input some text:</h4>
            <input type="text" id="boldText" name="boldText" required /><br />
            <button type="button" id="btn3" name="btn3" onClick="btn3_click()">Submit</button>

            <p id="displayTextAsBold"></p>
        </div>
    </div>

    <!-- User story 4-->
    <div data-role="collapsible">
        <h3>User story 4</h3>
        <div id="story4">
            <p>
                Use this area to submit any text you wish and have it converted to italics font.
            </p>

            <h4>Please input some text:</h4>
            <input type="text" id="italicsText" name="italicsText" required /><br />
            <button type="button" id="btn4" name="btn4" onClick="btn4_click()">Submit</button>

            <p id="displayTextAsItalics"></p>
        </div>
    </div>

    <!-- User story 7-->
    <div data-role="collapsible">
        <h3>User story 7 (D2B)</h3>
        <div id="story7">
            @using (Html.BeginForm())
            {
                <p>
                    Use this area to convert any decimal number to a binary number. (D2B)
                </p>

                <h4>Please input a decimal number to be converted:</h4>
                @Html.EditorFor(x => x.NumberToBeConverted)<br />
                <input type="submit" value="Convert to Binary" name="command" />
                @*<p>@Html.DisplayFor(x => x.Result)</p>*@
                <p>@TempData["result"]</p>
            }
        </div>
    </div>

    <!-- User story 8-->
    <div data-role="collapsible">
        <h3>User story 8 (B2D)</h3>
        <div id="story8">
            @using (Html.BeginForm())
            {
                <p>
                    Use this area to convert any binary number to a decimal number. (B2D)
                </p>

                <h4>Please input a binary number to be converted:</h4>
                @Html.EditorFor(x => x.NumberToBeConverted)<br />
                <input type="submit" value="Convert to Decimal" name="command" />
                @*<p>@Html.DisplayFor(x => x.Result)</p>*@
                <p>@TempData["result"]</p>
            }
        </div>
    </div>
</div>